/*
========================================
Giphy - Layout
========================================
*/

* {
    box-sizing: border-box;
  }
  *, *::after, *::before {
    box-sizing: border-box;
  }

/*
========================================
Header - Nav Bar
========================================
*/

header h4  {
  opacity: 1;
  color: black;
  font-family:'Raleway', sans-serif;
}

.container1 {
  margin: 0 auto;
  max-width: 960px;

}

header {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  border: 1px solid transparent;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
 
  padding: 20px 40px 20px 40px;
  position: static;
  z-index: 1;
}


nav a {
  color: black;
  margin-left: 1rem;
  font-family:'Raleway', sans-serif;
  font-weight: bold; 
  padding: .25rem 0;
}

nav a:hover {
  border-bottom: 2px solid black;
  color: black;
  font-weight: Bold;
  text-decoration: none;
}

/*
========================================
Main
========================================
*/

body {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
  overflow: hidden;
}

.background {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
 
  flex-grow: 1;
  padding: 5vh 5vw;
  width: 100%;
  z-index: 0;
}

.container2 {
  background: white;
  /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2); */
  margin: 0 auto;
  /* max-height: 600px;  */
  /* max-width: 960px; */
  /* width: 960px; */
  width: 100%;
  /* padding: 4vh 4vw 1vh 4vw; */
  z-index: 1;  
}
.masterContainer {
  display: flex;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background: white;
  padding: 5.5vh 4vw 1vh 4vw;
  flex-direction: column;
  margin: 0 auto;
  /* width: 100%; */
  max-height: 76vh;
  height: 74vh;
  /* width: 960px; */
  max-width: 960px;
  overflow: scroll;
}

.container3 { 
  background: white;
  border-bottom: 15px solid white; 
  /* max-height: 580px;  */
  /* max-width: 960px; */
  /* width: 960px; */
  margin: 0 auto;
  width: 100%;
  overflow: scroll;
  /* padding: 0vh 4vw 1vh 4vw;   */
  z-index: 1;
  flex-grow: 1;
}
  
/*
  ========================================
  footer
  ========================================
*/
footer p {
  color: black;
  opacity: 1;
  font-family: 'Raleway', sans-serif;
}

footer {
  background-image: url("../images/background.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.5;
  border-top: .25px solid silver;
  padding-bottom: 10px;
  padding-top: 30px;
  position: static; 
  z-index: 1;
}

/*
  ========================================
  Typography - Portfolio Styling
  ========================================
*/
h4 {
  font-family: 'Raleway', sans-serif;
  line-height: 40px;
  font-size: 1.5rem;
}

h1 {
  font-family: 'Raleway', sans-serif;
  font-size: 2rem;
  font-weight: bold;
  text-align: left;
  text-decoration: none;
}


p {
  color: #777777;
  font-family: 'Raleway', sans-serif;
}
/*
========================================
  Layout - RPS
========================================
*/
input, #shoot p {
  font-family: 'Raleway', sans-serif;
  color: gray;
}

.introImage {
    background: url("../images/cover_image.png");
    background-size: contain; 
    background-repeat: no-repeat; 
    max-height: 65vh;
    height: 65vh;
}
.pageHeader h1, .pageHeader p {
  display: table; 
  margin: 0 auto; 
  padding-bottom: 2vh; 
}
.pageHeader h1 {
  color: grey; 
  margin-bottom: 4vh; 
  font-family: 'Raleway', sans-serif;
}

.pageHeader p {
  font-family: arial;
  letter-spacing: 1px;
  color:silver; 
}

#shoot {
  background: url("../images/background.jpeg");
  background-size: cover;
  background-repeat: no-repeat; 
  border: none; 
  border-style: outset;
  font-family: 'Raleway', sans-serif;
  font-weight: bold; 
  color:black; 
  letter-spacing: 2px; 
}
#shoot:hover {
  border-style: inset;
  color: black;
}

li {
  display: list-item;
  line-height: 1.5;
  list-style: decimal;
  font-family: arial;
  color:silver; 
  letter-spacing: 1px;
}

li:hover {
color: grey;
border-bottom: 1px solid silver; 
}

ol {
  padding: 0 2vw 2vh 2vw; 
}

/* form{
    max-width: 500px;
    margin: 10px auto;
    border: 1px solid #ccc;
  }
  .msg-wrapper{
    max-height: 250px;
    overflow: auto;
  }
  .msg-wrapper em{
    font-size: 15px;
    padding-right: 20px;
    font-weight: bold;
  }
  .msg-wrapper div{
    font-size: 16px
  } */

  /* "chat-log" */